<!DOCTYPE html>
<html lang="en">
<head>
    <%= require ('html-loader!./public/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> -飞火商城</title>
    <link rel="stylesheet" href="../../dist/css/common.css">
</head>
<body>
<%= require ('html-loader!./public/nav.html') %>
<%= require ('html-loader!./public/header.html') %>
<div class="crumb">
    <div class="crumb-con">
        <a href="./index.html" class="link user-center-title">FiyFire</a>
        <span>></span>
        <span class="link-test"><%= htmlWebpackPlugin.options.title%></span>
    </div>
</div>
<%= require ('html-loader!./public/nav-side.html') %>
<div class="content with-nav">
    <div class="panel">
        <div class="panel-title">个人中心</div>
        <div class="panel-body">
            <div class="error-item">
                <i class="fa fa-minus-circle error-icon" aria-hidden="true"></i>
                <p class="err-msg">Error</p>
            </div>
            <div class="form-line">
                <span class="label">用户名：</span>
                <input type="text" placeholder="请输入用户名" id="username" autocomplete="off">
            </div>
            <div class="form-line">
                <span class="label">电&nbsp;&nbsp;话&nbsp;：</span>
                <input type="tel" placeholder="请输入电话" id="phone" autocomplete="off">
            </div>
            <div class="form-line">
                <span class="label">邮&nbsp;&nbsp;箱&nbsp;：</span>
                <input type="email" placeholder="请输入邮箱" id="email" autocomplete="off">
            </div>
            <div class="form-line">
                <span class="label">密&nbsp;&nbsp;保&nbsp;：</span>
                <input type="text" placeholder="请输入密保问题 " id="question" autocomplete="off">
            </div>
            <div class="form-line">
                <span class="label">答&nbsp;&nbsp;案&nbsp;：</span>
                <input type="text" placeholder="请输入密保答案" id="answer" autocomplete="off">
            </div>
            <div class="form-line">
                <a class="btn btn-submit" id="save" href="#">保存</a>
                <a class="btn btn-submit" id="user-center" href="user-center.html">返回个人中心</a>
            </div>
        </div>
    </div>
</div>
<div class="footer-footer">
    <%= require ('html-loader!./public/footer.html') %>
</div>
</body>
</html>