<!DOCTYPE html>
<html lang="en">
<head>
    <%= require ('html-loader!./public/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> -飞火商城</title>
    <link rel="stylesheet" href="../../dist/css/common.css">
</head>
<body>
<%= require ('html-loader!./public/nav-simple.html') %>
<div class="page-wrap">
    <div>
        <div class="user-con">
            <div class="user-title">用户登录</div>
            <div class="user-box">
                <div class="error-item">
                    <i class="fa fa-minus-circle error-icon" aria-hidden="true"></i>
                    <p class="err-msg">Error</p>
                </div>
                <div class="user-item">
                    <label class="user-label" for="username">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </label>
                    <input type="text" class="user-content" id="username"
                           placeholder="请输入用户名" autocomplete="off">
                </div>
                <div class="user-item">
                    <label class="user-label" for="password">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </label>
                    <input type="password" class="user-content" id="password"
                           placeholder="请输入密码" autocomplete="off">
                </div>
                <a class="btn btn-submit" id="btn-submit">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                <div class="link-item">
                    <a class="link" href="./user-pass-reset.html" target="_blank">忘记密码</a>
                    <a class="link" href="./user-register.html" target="_blank">免费注册</a>
                </div>
            </div>
        </div>
    </div>

</div>
<%= require ('html-loader!./public/footer.html') %>
</body>
</html>