.crumb{
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    color: #888888;
    font-size: 14px;
    border-top: 2px solid #FF8900;
}

.crumb .crumb-con{
    position:absolute;
    font-size: 14px;
    left: 7%;
}

.crumb .crumb-con .user-center-title{
    font-size: 14px;
}
.content{
    position: absolute;
    margin-left: 230px;
    width: 1100px;
}

.form-line{
    margin: 20px 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}