<div class="footer">
    <div class="link-footer">
        <a class="link" href="https://www.taobao.com/" target="_blank">淘宝</a>|
        <a class="link" href="https://www.jd.com/" target="_blank">京东</a>|
        <a class="link" href="https://www.suning.com/" target="_blank">苏宁</a>|
        <a class="link" href="https://www.amazon.cn/" target="_blank">亚马逊</a>
    </div>
    <p class="copyright">
        Copyright © 2017 FlyFire.com All Right Reserved
    </p>
</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="../js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
